# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/docs/~$DoCloud.pptx
/mocks/node_modules
/api/node_modules
node_modules
/robot/tmp
/robot/logs
/api-proxy/api-proxy.db.json
/DoProxy/do-proxy.db.json
*.backup
/DoProxy/do-proxy.proxy.json
/src/TESTS-Chrome_69.0.3497_(Mac_OS_X_10.13.6).xml
/reports
/projects/ngx-do-proxy/ngx-do-proxy.db.json
/projects/ngx-do-proxy/ngx-do-proxy.proxy.json
/projects/ngx-do-proxy/ngx-do-proxy.rule.json
/projects/ngx-do-proxy/public
/projects/ngx-do-proxy/ngx-do-proxy.log
*.log
/projects/ngx-do-proxy/ngx-do-proxy.log.txt
