<div fxLayout="row" fxLayout="row wrap">
    <div *ngFor="let dash of dashCard" fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <ngx-do-dashcard [dashData]="dash"></ngx-do-dashcard>
    </div>
</div>
<div fxLayout="row" fxLayout="row wrap">
    <ngx-do-bar-graph fxFlex="37.5" fxFlex.lt-sm="100" fxFlex.sm="50"></ngx-do-bar-graph>
    <ngx-do-doughnut-graph fxFlex="37.5" fxFlex.lt-sm="100" fxFlex.sm="50"></ngx-do-doughnut-graph>
    <ngx-do-weather fxFlex="25" fxFlex.lt-sm="100" fxFlex.sm="100"></ngx-do-weather>
</div>
<div fxLayout="row" fxLayout="row wrap">
    <ngx-do-line-graph fxFlex="75" fxFlex.lt-sm="100" fxFlex.sm="50"></ngx-do-line-graph>
    <ngx-do-share-price fxFlex="25" fxFlex.lt-sm="100" fxFlex.sm="50"></ngx-do-share-price>
</div>
<div fxLayout="row" fxLayout="row wrap">
    <ngx-do-sales-list fxFlex="60" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="70"></ngx-do-sales-list>
    <ngx-do-profile-card clickLabel="Follow" [doClick]="editProfile" [profile]="coreConfig?.currentUser" fxFlex="40" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></ngx-do-profile-card>
</div>

<div fxLayout="row" fxLayout="row wrap">
    <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <ngx-do-round-progressbar [title]="'SALES'" [current]="'23'" [max]="'100'" [background]="'#FFF968'" [color]="'#B1A7FF'" [boxcolor]="'#7986CB'"></ngx-do-round-progressbar>
    </div>
    <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <ngx-do-round-progressbar [title]="'LEADS'" [current]="'33'" [max]="'100'" [background]="'#FFE268'" [color]="'#A7C1FF'" [boxcolor]="'#42A5F5'"></ngx-do-round-progressbar>
    </div>
    <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <ngx-do-round-progressbar [title]="'ASSETS'" [current]="'78'" [max]="'100'" [background]="'#FFC368'" [color]="'#A7F0FF'" [boxcolor]="'#26A69A'"></ngx-do-round-progressbar>
    </div>
    <div fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <ngx-do-round-progressbar [title]="'BANKING'" [current]="'90'" [max]="'100'" [background]="'#FFCF68'" [color]="'#A7DEFF'" [boxcolor]="'#26C6DA'"></ngx-do-round-progressbar>
    </div>
</div>

<div fxLayout="row" fxLayout="row wrap" >
    <ngx-do-world-map fxFlex="100" [tableData]="tableData"></ngx-do-world-map>
</div>