.survey-header {
    padding: 20px 25px 0px 20px;
    min-height: 250px;
    color: white;
    
    .content {
          min-height: 250px;
         background-color: white;
    }
    h3 {
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
    }
    p {
        margin: 0;
        text-align: center;
    }
    mat-divider {
            border-top-color: white;
    }

}